* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: beige;
}

p {
  font-size: 12px;
}

.cv-app {
  display: flex;
  gap: 10px;
}

.left-side,
.right-side {
  word-wrap: break-word;
  background-color: white;
  padding: 20px;
  height: 800px; 
  border: 1px solid black;
  overflow-x: scroll;
}

.right-side {
  width: calc(800px / 1.4142); 
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

input[type="text"],
textarea {
  width: 100%;
  box-sizing: border-box;
}

.education-dates,
.experience-dates {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: lightslategray;
  color: white;
  border: none;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 5px 0 0;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
