.cv-app {
  display: flex;
  justify-content: space-between;
}

.left-side {
  flex: 1; /* Takes up 50% of the available space */
  padding: 20px;
  background-color: #f0f0f0;
}

.right-side {
  flex: 1; /* Takes up 50% of the available space */
  padding: 20px;
  background-color: #ffffff;
}