@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #2c3e50; /* Dark bluish-gray */
  font-size: 14px;
}

h3 {
  font-size: 1.2rem;
  padding: 20px 0 0 40px;
  margin-top: 5px;
}

li {
  list-style-type: none;
}

.cv-app {
  display: flex;
  gap: 10px;
}

.left-side,
.right-side {
  word-wrap: break-word;
  height: 800px; 
  border: 1px solid #2c3e50;
  overflow-x: scroll;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* subtle shadow for depth */
  transition: box-shadow 0.3s;
}

.left-side {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.right-side {
  width: calc(800px / 1.4142);
  background-color: white;
  color: black;
}

.left-side {
  color: #ecf0f1; /* Light font color */
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 400px;
  border-radius: 15px;
  background-color: #34495e; /* Slightly lighter bluish-gray for contrast */
}

input[type="text"],
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 5px; 
  background-color: #2c3e50;
  color: #ecf0f1; /* Text color matching the body */
  border: 1px solid #34495e;
  margin-top: 5px;
}

.education-dates,
.experience-dates {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

button {
  background-color: #7f8c8d; /* Dark gray */
  color: #ecf0f1;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  opacity: 80%;
}

.section h3 {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.section h3:hover {
  background-color: lightblue;
  color: #2c3e50; 
}

.toggle-icon {
  margin-right: 8px;
  display: inline-block;
  transition: transform 0.3s;
}

.collapsed .toggle-icon {
  transform: rotate(0deg);
}

.expanded .toggle-icon {
  transform: rotate(45deg);
}

.description-textarea {
  width: 100%; /* Prevent users from changing the width */
  resize: vertical; /* Allow users to change the height */
}

.example-add {
  background-color: rgb( 0, 140, 0);
  font-weight: bold;
}
.example-clear {
  background-color: rgb(180, 25, 25);
  font-weight: bold;
}

.template-buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.personal {
  background-color: #41709e;
  color: white;
  padding: 15px 0;
  text-align: center;

}

.education p, .experience p, .certificates p, ul {
  padding: 0 40px;
}